<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>add new expenses</title>
  </head>
  <body style="background-color:#e6e9eb;">
    <h4 class="text-right" style="margin-right:30px;"><a href="{%url 'list'%}"><strong> Go Back</strong></a></h4>
    <form method="POST" class="jumbotron text-center">
      <div class="">
        <h2 style="color:Green">Enter The Sharing Expenses</h2><small>Date Format:YY-MM-DD</small>
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" name="submit" value="Submit">
      </div>
    </form>
  </body>
</html>
